<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<h2>Edycja notatki</h2>
<div>
    <form th:action="@{'/updateNote'}" th:method="put" th:object="${noteDto}">

        <input type="number" name="noteId" th:value="${noteDto.getNoteId()}" hidden="hidden">
        <label for="noteTitle" style="color: #FF0000"
               th:if="${#fields.hasErrors('noteTitle')}"
               th:errors="*{noteTitle}"></label>
        <input id="noteTitle" type="text" name="noteTitle" th:value="${noteDto.getNoteTitle()}">

        <label for="noteContent" style="color: #FF0000"
               th:if="${#fields.hasErrors('noteContent')}"
               th:errors="*{noteContent}"></label>
        <textarea id="noteContent" name="noteContent" th:text="${noteDto.getNoteContent()}"></textarea>

        <input id="noteAuthor" type="text" name="noteTitle"
               th:value="${noteDto.getAuthor().getFirstName() +' '+ noteDto.getAuthor().getLastName()}" readonly>

        <button type="submit">Edytuj</button>
    </form>
</div>

</body>
</html>